.place__title {
    grid-area: title;

    width: auto;
    height: auto;

    display: inline-block;
    align-self: flex-end;

    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}
