@import "./__item/photo-grid__item.css";

.photo-grid {
    width: 1184px;
    height: auto;

    margin: 0 auto;

    margin-bottom: 80px;

    display: grid;

    grid-template-columns: repeat(4, 23.98%);
    grid-template-rows: repeat(3, 31.74%);

    grid-column-gap: 16px;
    grid-row-gap: 16px;

    justify-content: space-between;
    align-content: space-between;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        width: 92.5%;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        width: 90%;

        margin-bottom: 92px;

        grid-template-columns: repeat(3, 32.34%);
        grid-template-rows: repeat(4, 23.86%);

        grid-column-gap: 14px;
        grid-row-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 93%;

        grid-template-columns: repeat(2, 48.88%);
        grid-template-rows: repeat(6, 15.8%);

        grid-column-gap: 2.22%;
        grid-row-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 90%;

        grid-template-columns: 100%;
        grid-template-rows: repeat(12, 7.8%);

        grid-row-gap: 12px;
    }
}
