.intro__list {
width: 690px;
height: max-content;

list-style-type: none;
margin-left: 0;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;

}

/*ВАЖНО! В этом блоке разобраться с форматом списка!*/