@import "./__image/lead__image.css";
@import "./__title/lead__title.css";
@import "./__subtitle/lead__subtitle.css";
@import "./__caption/lead__caption.css";

.lead {
    padding-top: 56px;
    margin-left: 148px;
    margin-right:148px;
}

