.cover__subtitle {
   
        width: auto;
            
        grid-column-start: 3;
        grid-column-end: 4;
    
        grid-row-start: 3;
        grid-row-end: 4;
    
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    
        margin-top:0;
        margin-bottom:0;
   
    display:inline-block;

   z-index: 2;


font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

text-align: center;

}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        left:332px;
        right:332px;
        bottom:195px;
        
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        left:204px;
        right:204px;
        bottom:115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
                
        top:119px;
        left:16px;
        right:16px;
        bottom:33px;
        
        font-size: 14px;
        line-height: 16x;

        grid-column-start: 2;
        grid-column-end: 3;
    }
}