.cover__subtitle {
    display: inline-block;

    height: auto;
    width: 360px;

    margin: 0 auto;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;

    z-index: 2;

    align-self: start;
    justify-self: center;
}

.cover__subtitle:hover ~ .cover__overlay {
    background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;

        font-size: 14px;
        line-height: 16x;
    }
}
