.header__logo {
width: 176px;
height: 52px;

}
/*
@media screen and (max-width: 1024px) {
    .header__logo {
        width: 176px;
        height: 52px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 176px;
        height: 52px;
}
- эти свойства дублируются на всех разрешениях*/

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;}
}

