.place__text {
    grid-area: text;
    width: 100%;
    height: max-content;
}


@media screen and (max-width: 1024px) {
    .place__text {
        width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__text {
        width: 352px;
    }    
}

@media screen and (max-width: 320px) {
    .place__text {
        width: 288px;
    }
}

