.footer__link {
    color:#FFFFFF;
    text-decoration: none;
    display:inline-block;
    margin-left:0;
    margin-right:18px;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

}

.footer__link:hover {
    color:#FFFFFF;
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}