.lead__title {
margin:0 auto;
width: 73%;
height: auto;

font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
    width: 77%;
    text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
    width: 93%;
    text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 90%;
        
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }
}