.lead__title {
    margin: 0 auto;
    padding: 0;

    width: 73%;
    height: max-content;

    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: 77%;
    }
}

@media screen and (max-width: 900px) {
    .lead__title {
        width: 96%;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 93%;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 90%;

        font-size: 40px;
        line-height: 44px;
    }
}
