.intro__text {
    width: 690px;
    height: max-content;

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        width: 288px;
    }
}