@import "./__list/intro__list.css";
@import "./__text/intro__text.css";
@import "./__title/intro__title.css";
@import "./__list-item/intro__list-item.css";
@import "./__item-bold/intro__item-bold.css";

.intro {
    max-width: 690px;
    height: max-content;

    margin-top: 92px;
    margin-left: 148px;
    margin-right: 442px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .intro {
        width: 53%;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 67%;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93%;

        margin: 0 auto;

        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: 90%;
        
        margin-top: 64px;
        margin-bottom: 64px;
    }
}
