body {
    background-color:#25282b;
}

.page {
    width:1280px;
    
    background-color:#25282b;
    font-family: "Inter", "Arial", sans-serif;
    color: #FFFFFF;
    height: auto;
    margin: 0 auto;
   
}

@media screen and (max-width: 1024px) {
    .page {
        width:1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        width:768px;
    }
}


@media screen and (max-width: 320px) {
    .page {
        width:320px;
    }
}

