@import "./__background/cover__background.css";
@import "./__overlay/cover__overlay.css";
@import "./__subtitle/cover__subtitle.css";
@import "./__title/cover__title.css"; 

.cover {
    width: 92.5%;
    height: auto;

    margin-top: 89px;
   
    margin: 0 auto;
    
    padding-bottom: 0;
    margin-top: 89px;

    overflow: hidden;

}

@media screen and (min-width:1281px) {
    .cover {
        width:99.5%;
    }
}
    

@media screen and (max-width: 1024px){
    .cover{
        width: 100%;
        height: auto;
        margin-top: 88px;
        }
     
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        height: auto;
        margin-top: 88px;
        margin: 0 auto;
    }
 
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        height: auto;
        margin-top: 64px;

        grid-column-gap:0;
    }
 
}