.cover__overlay {
    background-color: rgba(42, 44, 47, 0.3);
    grid-area: cover;

    color:#FFFFFF;
    text-decoration: none;

    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 53.64% 4.32% 42.04%;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
    transition: 2s;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        grid-template-rows: 54.21% 5% 40.79%;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        grid-template-rows: 55.62% 6.66% 37.72%;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        grid-template-rows: 51.5% 8% 40.5%;
    }
}