.cover__overlay {
            
    width: 100%;
    min-height: 740px;
    
    margin: 0 auto;
    
    display: grid;
    
    grid-template-columns: 100%;
    grid-template-rows: 53% 43%;
    grid-row-gap: 3%;
    justify-items: center;
    
    z-index: 1;

    justify-items: center;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
    min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
        grid-template-rows: 58% 33%;
        grid-row-gap: 3%;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
        grid-template-rows: 50% 30%;
        grid-row-gap: 1%;
    }
}