.place__title-block 
{
   grid-area: title;
   
   width: auto;
   height: auto;

   display: flex;
   flex-direction: column;
   justify-content: flex-end;

}


/*
@media screen and (max-width: 1024px) {
    .place__title-block {
     width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title-block {
        width: 340px;
    }
}

*/

@media screen and (max-width: 320px) {
    .place__title-block {
        width: 288px;
    }
}
