.footer__links-list {
    list-style-type: none;
    
    margin-top:0;
    margin-bottom:0;
    
    margin-left: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links-list {
        flex-direction: column;
    }
}
