.lead__caption {
    width: max-content;
    height: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 786px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 787px) {
    .lead__caption {
        margin-left: 16px;
    }
}
