@import "./__links/footer__links.css";
@import "./__link/footer__link.css";
@import "./__links-list/footer__links-list.css";
@import "./__links-item/footer__links-item.css";
@import "./__copyright/footer__copyright.css";

.footer {
    max-width: 92%;
    height: auto;

    margin: 0 auto;

    margin-top: 92px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 90%;
        height: max-content;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 93%;
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 62%;
        height: auto;

        margin-left: 16px;
        margin-top: 64px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
