.place__website {
   grid-area: website;
   
   display: flex;
   flex-direction: column;
   justify-content: flex-end;

   max-width: 100%;
   
}

@media screen and (max-width: 768px) {
   .place__website {
      width: 352px;
   }
}

@media screen and (max-width: 767px) {
   .place__website {
      display: none;
   }
}
/*
@media screen and (max-width: 320px) {
   .place__website {
      display: none;
   }
}*/